/* Add Book Button */

.btn-container {
    width: 100%;
    text-align: right;
}

.add-book-btn {
    margin-right: 20px;
    font-family: inherit;
    cursor: pointer;
    padding: 5px 10px;
    background-color: rgb(114, 64, 64);
    color: rgb(223, 223, 223);
    border: 1px solid black;
    border-radius: 5000px;
    transition: .3s;
}

.add-book-btn:hover {
    background-color: rgb(182, 174, 174);
    color: rgb(59, 58, 58);
}

/* Book List */

.book-list {
    margin: 20px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.book-list li {
    cursor: pointer;
    padding: 2px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(180, 180, 180);
    border: 1px solid black;
    transition: .3s;
}

.book-list li:hover {
    box-shadow: 0px 0px 5px 7px rgba(0,0,0,0.75);
}

.book-img {
    margin-top: 5px;
    width: 180px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}